body {
	background-image: url("./assets/earth.png");
}

.avatar-user {
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from { transform: rotate(0) }
	to { transform: rotate(360deg) }
}

.light-mode .application-main .Box,
.light-mode .avatar-user,
.light-mode .js-yearly-contributions > div > div,
.light-mode .js-form-toggle-target input,
.light-mode .js-profile-timeline-year-list .filter-list,
.light-mode .contribution-activity-listing,
.light-mode .contribution-activity-show-more,
.light-mode #user-profile-frame div.flex-items-start input,
.light-mode #user-profile-frame div.flex-items-start summary,
.light-mode #user-repositories-list {
	box-shadow: 0 4px 6px #0002;
}

.dark-mode .application-main .Box,
.dark-mode .avatar-user,
.dark-mode .js-yearly-contributions > div > div,
.dark-mode .js-form-toggle-target input,
.dark-mode .js-profile-timeline-year-list .filter-list,
.dark-mode .contribution-activity-listing,
.dark-mode .contribution-activity-show-more,
.dark-mode #user-profile-frame div.flex-items-start input,
.dark-mode #user-profile-frame div.flex-items-start summary,
.dark-mode #user-repositories-list {
	box-shadow: 0 4px 6px #000a;
}

#user-profile-frame > div > .Box {
	position: relative;
}

#user-profile-frame > div > .Box::after {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: no-repeat url("./assets/nina.webp");
	background-size: cover;
	border-radius: var(--borderRadius-medium)
}

.dark-mode #user-profile-frame > div > .Box::after {
	filter: opacity(16%);
	mix-blend-mode: lighten;
}

.light-mode #user-profile-frame > div > .Box::after {
	box-shadow: inset 0 12px 16px #000;

	filter: opacity(24%);
	mix-blend-mode: difference;
}
