body
{ background-image: url("./earth.png") }

.avatar-user {
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from { transform: rotate(0) }
	to { transform: rotate(360deg) }
}

[data-color-mode="light"] .application-main .Box,
[data-color-mode="light"] .avatar-user,
[data-color-mode="light"] .js-yearly-contributions > div > div,
[data-color-mode="light"] .js-form-toggle-target input,
[data-color-mode="light"] .js-profile-timeline-year-list .filter-list,
[data-color-mode="light"] .contribution-activity-listing,
[data-color-mode="light"] .contribution-activity-show-more,
[data-color-mode="light"] #user-profile-frame div.flex-items-start input,
[data-color-mode="light"] #user-profile-frame div.flex-items-start summary,
[data-color-mode="light"] #user-repositories-list
{ box-shadow: 0 4px 6px #0002 }

[data-color-mode="dark"] .application-main .Box,
[data-color-mode="dark"] .avatar-user,
[data-color-mode="dark"] .js-yearly-contributions > div > div,
[data-color-mode="dark"] .js-form-toggle-target input,
[data-color-mode="dark"] .js-profile-timeline-year-list .filter-list,
[data-color-mode="dark"] .contribution-activity-listing,
[data-color-mode="dark"] .contribution-activity-show-more,
[data-color-mode="dark"] #user-profile-frame div.flex-items-start input,
[data-color-mode="dark"] #user-profile-frame div.flex-items-start summary,
[data-color-mode="dark"] #user-repositories-list
{ box-shadow: 0 4px 6px #000a }

#user-profile-frame > div > .Box
{ position: relative }

#user-profile-frame > div > .Box::after {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: no-repeat url("./nina%20iseri%20720p.webp");
	background-size: cover;
	border-radius: var(--borderRadius-medium)
}

[data-color-mode="dark"] #user-profile-frame > div > .Box::after {
	filter: opacity(16%);
	mix-blend-mode: lighten;
}

[data-color-mode="light"] #user-profile-frame > div > .Box::after {
	box-shadow: inset 0 12px 16px #000;

	filter: opacity(24%);
	mix-blend-mode: difference;
}
